.detail-box{
    height: 100%;
    width: 100%;
}
.detail-wrapper{
    max-width: 728px;
    margin: 0 auto;
    padding: 120px 0 12px 0;
    height: 100%;
    overflow: hidden;
}
.detail-title{
    font-size: 40px;
}
.text{
    color: rgba(0, 0, 0, 0.84);
}