@import '~antd/dist/antd.css';
@import "reset";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home-header{
    width: 100%;


    border-bottom: 0.5px solid #ddd;
}
.home-header-box{
    max-width: 1440px;
    margin: 0 auto;
    height: 60px;
    //display: flex;
    //justify-content: space-between;
}
.home-logo{
    width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  float: left;
}
.home-logo .logo {
    width: 100%;
    height: 40px;
    border-radius: 2px;
}

.home-center{
    width: 960px;
   margin: 0 auto;
}
.header-tab{
  height: 100%;
  display: flex;
  li {
    a{
      line-height: 60px;
    }
  }
}
.home-right{
  display: flex;
  float: right;
  height: 60px;
  p{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
  }
}
.base-box{
  width: 960px;
  margin: 0 auto;
  padding: 30px 0;
}
.base-inner{
}
.img{
  img {
    width: 100%;
    height: 270px;
    border-radius: 4px;
  }
}
.base-author{
}
.list-item{
  padding: 20px 0;
  border-bottom: 1px solid #f0f0f0;
}
.item-left{
  margin-right: 160px;
.title{
  margin: -7px 0 4px;
  display: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
}
}
 .abstract {
  margin: 0 0 8px;
  font-size: 13px;
  line-height: 24px;
  color: #999;
}
.item-right{
  float: right;
  width: 150px;
  height: 100px;
  .wrap-img,img{
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius:4px;
  }
}
.meta{
  color: #999;
  font-size: 12px;
  .time{
    padding-left: 10px;
  }
}
