.App{
    max-width: 1110px;
    margin: 0 auto;
}

/* 头部 */
.header-menu{
    display: flex;
    justify-content: space-between;
}

.header-menu .logo{
    display: flex;
}

.menu-tabs ul{
    display: flex;
}

.logo-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.menu-tabs ul li{
    line-height:100px;
}
.menu-tabs ul li a{
    padding-left: 50px;
    font-size:18px;
    font-family:PingFangSC-Medium;
    font-weight:600;
    color:rgba(0,0,0,1);
    line-height:18px;
    letter-spacing:1px;
}

.header-menu-tab ul li .active{
    text-decoration:line-through;
}

.logo-text{
    font-size: 24px;
    padding-left: 10px;
}
/*底部*/
.footer-menu{

}
.footer-menu-logo .logo{
    display: flex;
}
.footer-menu-logo{
    display: flex;
    justify-content: space-between;
}
.footer-middle{
    display: flex;
    justify-content: space-between;
}
.footer-middle-left{
    font-size:18px;
    font-family:PingFangSC-Medium;
    font-weight:500;
    color:rgba(155,155,155,1);
    line-height:28px;
    width: 39%;
}
.footer-middle-right{
    width: 61%;
}
.footer-middle-right ul {
    display: flex;
    flex-wrap: wrap;
}
.footer-middle-right ul li{
    width: 25%;
}
.footer-middle-right ul li a{
    font-size:18px;
    font-family:PingFangSC-Medium;
    font-weight:500;
    color:rgba(155,155,155,1);
    line-height:28px;
}
.footer-copy-right{
    margin-top: 70px;
    font-size:18px;
    font-family:PingFangSC-Medium;
    font-weight:500;
    color:rgba(155,155,155,1);
    line-height:28px;
    padding: 20px 0;
}
/* menu */
.menu-item{
    display: flex;
    justify-content: space-between;
}
.menu-left{
    flex: 1 0 auto;
    position: relative;
}
.menu-left-box{
    position: absolute;
    width: 100%;
    height: 100%;
}
.menu-right{
    width: 403px;
    height: 323px;
}
.menu-text{
    padding-top: 20px;
    font-size: 54px;
    font-family:SFProDisplay-Bold;
    font-weight:bold;
    color:rgba(0,0,0,1);
    line-height:62px;
}
.menu-inner{
    font-size:20px;
    font-family:PingFangSC-Medium;
    font-weight:500;
    color:rgba(155,155,155,1);
    line-height:28px;
    padding: 30px 0;
}
.menu-link a{
    height:20px;
    font-size:20px;
    font-family:PingFangSC-Medium;
    font-weight:600;
    color:rgba(67,57,242,1);
    line-height:20px;
    padding-right: 20px;
}
.menu-img{
    width: 100%;
    height: 100%;
}

.item-text{
    font-size:14px;
    font-family:SFProDisplay-Bold;
    font-weight:bold;
    color:rgba(0,0,0,1);
    line-height:14px;
    letter-spacing:4px;
    padding: 20px 0;
}
.items{
    display: flex;
    /*justify-content: space-between;*/
    flex-wrap: wrap;
}
.item-list{
    width: 50%;
    display: flex;
    margin-bottom: 30px;
    cursor: pointer;
    padding: 16px;
}
.item-list-left{
    width: 166px;
    height: 125px;
    background:rgba(216,216,216,1);
    border-radius:12px;
}
.item-list-right-box{
    flex: 1 0 auto;
    position: relative;
}
.item-list-right{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.item-list-right p{
    padding:0 10px;
}
.right-tip{
    font-size:12px;
    font-family:SFProDisplay-Bold;
    font-weight:bold;
    color:rgba(26,214,151,1);
    line-height:12px;
    letter-spacing:5px;
}
.right-title{
    height:20px;
    font-size:20px;
    font-family:SFProDisplay-Medium;
    font-weight:500;
    color:rgba(0,0,0,1);
    line-height:20px;
}
.right-detail{
    font-size:16px;
    font-family:SFProDisplay-Medium;
    font-weight:500;
    color:rgba(0,0,0,1);
    line-height:23px
}
.right-time{
    height:13px;
    font-size:13px;
    font-family:SFProDisplay-Medium;
    font-weight:500;
    color:rgba(155,155,155,1);
    line-height:13px;
}
.active-text{
    background:rgba(232,232,232,1);
    border-radius:12px;
    opacity:0.6953;
}
